.welcome {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.header {
  display: flex;
  flex: 0.06;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.header_left {
  display: flex;
  flex: 0.5;
  height: 100%;
  align-items: center;
}

.header_right {
  display: flex;
  flex: 0.5;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.header_right ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-grow: 1;
}

.header_right li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.header_right a {
  text-decoration: none;
  color: rgb(49, 49, 71);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
}

.header_right button {
  display: block;
  height: 40px;
  padding: 12px 25px;
  border-radius: 2px;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1562rem;
  line-height: 1rem;
  text-transform: uppercase;
  transition: all 0.15s ease 0s;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 20px;
}

.header_right button:hover {
  background-color: rgb(49, 49, 71);
  color: white;
}

.header_right li:hover a {
  color: rgb(22, 162, 184);
}

.main_section {
  width: 100%;
}

.hero_section {
  display: flex;
  height: 100vh;
  width: 100%;
}

.hero_section_left {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  align-items: center;
  justify-content: center;
}

.hero_desc_section {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}

.hero_section_left h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.hero_desc_section p,
h2 {
  color: rgb(66, 67, 89);
  font-weight: 600;
  text-align: center;
}

.hero_desc_section button {
  background-color: rgb(33, 33, 51);
  border-radius: 4px;
  color: rgb(250, 249, 247);
  padding: 16px 38px;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.1562rem;
  line-height: 1rem;
  text-transform: uppercase;
  transition: all 0.15s ease 0s;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.hero_desc_section button:hover {
  background-color: rgb(66, 67, 89);
}

.hero_section_right {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_section_right img {
  height: 570px;
  inset: 120px 0px 0px;
  margin-bottom: 10vh;
}
