.markets {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.markets_data {
  width: 82.2%;
  background-image: url(data:image/svg+xml,%20%3Csvg%20width%3D%22849%22%20height%3D%22800%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cpath%20d%3D%22M278.97%20402.646L0%200h287.502l137.085%20195.25%2056.828-80.969L561.656%200h287.487l-79.185%20114.281-56.085%2080.97H424.587l23.382%2033.312%2080.24%20114.296L849.144%20800h-294.89L424.587%20612.836l-50.511%2072.883L294.89%20800H0l80.256-114.281z%22%20fill%3D%22%23000000%22%20fill-rule%3D%22evenodd%22%20/%3E%20%3C/svg%3E%20);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  background-color: rgb(15, 15, 20);
  color: rgb(255, 255, 255);
}

.gainers_losers {
  width: 17.8%;
  background-color: aqua;
}

.filter_tools {
  display: flex;
  width: 100%;
  height: 8%;
  align-items: center;
  justify-content: space-between;
}

.filter_tools_left {
  display: flex;
  flex: 0.4;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
}

.filter_tools_left div {
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 60px;
  justify-content: center;
}

.filter_tools_left div:focus {
  box-shadow: rgb(22, 162, 184) 0px 0px 0px 1px inset;
}

.filter_tools_right {
  display: flex;
  flex: 0.2;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
}

.filter_tools_right div {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 80px;
  justify-content: center;
}
.filter_fonts {
  font: 500 0.8125rem GraphikCondensed, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  letter-spacing: 0.0937rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0px;
  position: relative;
  padding: 0px 16px;
  height: 100%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(208, 207, 204);
  cursor: pointer;
}
.filter_tools_right div:focus {
  box-shadow: rgb(22, 162, 184) 0px 0px 0px 1px inset;
}

.market_table {
  overflow-y: auto;
  height: 100%;
}

.market_table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.market_table::-webkit-scrollbar-thumb {
  background-color: rgb(86, 86, 107);
}

.market_table_container {
  width: 100%;
  overflow-x: auto;
  background-color: transparent;
}

.market_table_header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  color: rgb(208, 207, 204);
  font: 400 0.75rem / 2.125rem GraphikCondensed, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  letter-spacing: 0.0937rem;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 12px;
  text-align: left;
  box-sizing: border-box;
}

th {
  font-weight: bold;
}
